.list {
    max-width: 768px;
    height: 50px;
    margin: 1.2rem;

}
.todo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 400px;
    background-color: white;
    box-shadow: 10px 10px 5px 0px rgba(189,173,173,0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(189,173,173,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(189,173,173,0.75);
}
.todo span {
    font-size: 1.5rem;
    margin-right: .4rem;
    font-weight: bold;
    padding: 1rem;
}
.todo button{
    cursor: pointer;
    width: 2.5rem;
    margin: .4rem;
    padding: .5rem;
    font-weight: bold;
    font-size: 1.2rem;
    background-color: white;
    border-radius: 15px;
}
.todo .remove {
    background-color: red;
    color: white;
}

@media only screen and (max-device-width:400px) {
    .list{
        text-align: center;
        margin: 2.5rem;
    }
    .todo {
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 300px;
    }
    .todo span {
        width: 100%;
        font-size: 1.2rem;
    }
    .todo button {
        font-size: 1rem;
    }
    
}